__pycache__/

/.config/mpd/
!/.config/mpd/mpd.conf
/.config/ranger/bookmarks
/.config/ranger/history
/.config/ranger/tagged
/.gituser
/.ncmpcpp/error.log
/.vim/autoload/plug.vim*
/.vim/backup/
/.vim/plugged/
/.vim/spell/
/.vim/swap/
/.vim/undo/
/.weechat/
