[include]
    path = ~/.gituser
[push]
    default = current
[credential]
    helper = cache
[diff]
    tool = vimdiff3
    renames = copies
    mnemonicprefix = true
[merge]
    conflictstyle = diff3
    tool = vimdiff3
[advice]
    statusHints = false
    pushNonFastForward = false
[branch]
    autosetupmerge = true
[alias]
    hist = log --graph --oneline --all
    co = checkout
    ci = commit
    st = status
    br = branch
    cp = cherry-pick
[commit]
    gpgsign = true
[pull]
    rebase = false
