.config/mpd/
!.config/mpd/mpd.conf
.config/fish/fishd.*
.config/ranger/__pycache__/
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.ncmpcpp/error.log
.vim/backup/
.vim/plugged/
.vim/spell
.vim/swap/
.vim/undo/
.weechat/
