! Font settings
URxvt.font: xft:xos4 Terminess Powerline:pixelsize=12
!URxvt.letterSpace: -1

! Cursor
Xcursor.theme: Adwaita
Xcursor.size: 16

! Scrollbar
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.scrollstyle: plain
URxvt.scrollColor: #ebdbb2

! Clickable links
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Rofi settings
rofi.color-enabled: true
rofi.terminal: st
rofi.color-window: #282828, #676d3d, #676d3d
rofi.color-normal: #282828, #ebdbb2, #303030, #676d3d, #ebdbb2

! Colours
URxvt.depth: 24

*background: #282828
*foreground: #ebdbb2
! Black + DarkGrey
*color0: #282828
*color8: #928374
! DarkRed + Red
*color1: #cc241d
*color9: #fb4934
! DarkGreen + Green
*color2: #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3: #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4: #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5: #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6: #689d6a
*color14: #8ec07c
! LightGrey + White
*color7: #a89984
*color15: #ebdbb2
