version 1

snippet <!
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>$1</title>
		</head>
		<body>
			$0
		</body>
	</html>

snippet <link
	<link rel="stylesheet" href="$0">

snippet <script
	<script src="$0"></script>

snippet <a
	<a href="$1">$0</a>
