version 1

snippet if
	if (${1:condition}) {
		$0
	}

snippet else
	else {
		$0
	}

snippet elif
	else if (${1:condition}) {
		$0
	}

snippet for
	for (${1:int i = 0}; ${2:i < ${3:limit}};${4:i++}) {
		$0
	}

snippet while
	while(${1:condition}) {
		$0
	}

snippet do
	do {
		$0
	} while (${1:condition});
