version 1

extends c, html

snippet php
	<?php

	$0

snippet elif_php
	elseif ($1) {
		$0
	}

snippet for_php
	for (${1:\$i = 0}; ${2:\$i < ${3:limit}}; ${4:++\$i}) {
		$0
	}

snippet foreach
	foreach (${1:array} as ${2:${3:key} => ${4:value}}) {
		$0
	}

snippet class
	class ${1:name} ${2:extends ${3:parent}}
	{
		$0
	}

snippet fun
	${1:public} function ${2:name}($3)
	{
		$0
	}
